<div .box>
  <h1 .title>
    Google
  <a .button .is-info .is-large
    href="https://search.google.com/search-console?resource_id=https%3A%2F%2Fcs-syd.eu%2F">
    Go to the search console
  <a .button .is-info .is-large
    href="https://analytics.google.com/analytics/web/#/report-home/a53296133w85969244p89178944">
    Go to analytics

<div .box .content>
  <h1 .title>
    Latest posts
  <h2 .subtitle>
    Links for marketing
  <p>
    <a .button .is-link href="https://www.patreon.com/posts/new">
      Patreon
    <a .button .is-link href="https://linkedin.com">
      Linkedin
    <a .button .is-link href="https://us18.admin.mailchimp.com/campaigns/#f_assigned:unassigned;f_list:68113;t:campaigns-list">
      Mailchimp
  <p>
    Twitter:
    <a .button .is-link href="https://tweetdeck.twitter.com/">
      Tweetdeck
    <a .button .is-link href="https://twitter.com/kerckhove_ts">
      @kerckhove_ts
    <a .button .is-link href="https://twitter.com/cs_Syd_eu">
      @cs_Syd_eu
  <p>
    Discourse:
    <a .button .is-link href="https://discourse.haskell.org/">
      Haskell Discourse
    <a .button .is-link href="https://nixos.haskell.org/">
      Nixos Discourse
  <p>
    Reddit:
  <table .table .is-striped .is-hoverable .is-fullwidth>
    <thead>
      <th> Post
      <th> Text to copy-paste
    <tbody>
      $forall (url, md) <- take 10 posts
        <tr>
          <td>
            <a href=@{PostsR url}>
              ^{preTime $ postDate $ mdExtra md} - #{mdTitle md}
          <td>
            #{mdTitle md}
            <br>
            #{renderer $ PostsR url}


