<section .section>
  <div .container>
    <div .box>
      <h1 .title>
        Archive
      <aside .menu>
        $forall (year, es) <- entryYears
          <p .menu-label>
            #{year}
          <ul .menu-list>
            $forall (url, md) <- es
              $case mdExtra md
                $of PostEntry post
                  <li>
                    <a href=@{PostsR url}>
                      ^{preTime $ postDate post} - #{mdTitle md}
                $of QuoteEntry quote
                  <li>
                    <a href=@{QuoteR url}>
                      ^{preTime $ quoteDate quote} - #{mdTitle md}
