<div .container>
  <section .section>
    <div .columns .is-vcentered .is-centered>
      <div .column>
        <h1 .title .has-text-centered>
          Latest Blogpost
        $maybe (url, entry) <- headMay es
          <div .box>
            ^{entryBox url entry}
      <div .column .is-1 .has-text-centered>
      <div .column .is-4 .has-text-centered>
        <img src=@{AssetsStaticR blog_blog_post_svg} alt="Blog" width="350px">
      <div .column .is-1 .has-text-centered>



  <section .section>
    <h1 .title .has-text-centered>
      Archive
    <div .box>
      <aside .menu>
        $forall (year, es) <- entryYears
          <p .menu-label>
            #{year}
          <ul .menu-list>
            $forall (url, md) <- es
              $case mdExtra md
                $of PostEntry post
                  <li>
                    <a href=@{PostsR url}>
                      ^{preTime $ postDate post} - #{mdTitle md}
                $of QuoteEntry quote
                  <li>
                    <a href=@{QuoteR url}>
                      ^{preTime $ quoteDate quote} - #{mdTitle md}
