<section .section>
  <div .container>
    <div .box>
      <h1 .title>
        The CS SYD Organisation
  
      <div .content>
        <div class="columns is-centered">                
          <div class="column has-text-centered">
            <img src="/logo/res/positive/logo.png" alt="Logo" width="500px" max-width="100%"/>

        <ul>
          <li>
            Name: CS SYD
          <li>
            Legal name: CS Kerckhove
          <li>
            Address: Altwiesenstrasse 93, 8051 Zürich, Switzerland
    
    <div .box>
      <div .columns .is-centered>
        <div .column .has-text-centered .is-half>
          ^{servicesButton}


