<div .container>
  <div .box>

    <section .hero>
      <div .column .has-text-centered>
        <img src=@{AssetsStaticR agenda_date_picker_svg} alt="date picker" width="400px">

      <p .title .is-size-3 .has-text-weight-semibold .has-text-centered>
        Contact

      <div .columns .is-centered>
        <div .column .is-half>
          <p .content .is-size-5 .has-text-centered>
            You can contact Syd via email at this address:            

            <div .columns .is-centered .has-text-centered-mobile>
              <div .box>
                <span .is-size-5 .is-italic .has-text-centered>
                  syd<span style="display:none">muhaha</span>@cs-syd.eu


          <p .content .is-size-5 .has-text-centered>
            Or you can book him via this link
            <a href="https://smos.online/book/syd">
              this link
            .


          <p .content .is-size-5 .has-text-centered>
            Syd is not available via telephone, but feel free to make a (video call) appointment.
            Send a calendar invite to this email address.

    <section .section>
      <div .columns .is-centered>
        <p .title .is-size-4 .has-text-centered .p-3>
          Find out what you could contact Syd about

      <div .columns .is-centered .has-text-centered-mobile>
        <a .button .is-size-6 .is-primary href=@{HomeR}>
          Services

<section .section>
