$doctype 5
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" sizes="32x32" href=@{LogoR favicon_ico}>

    <title>#{pageTitle pageContent}
    ^{pageHead pageContent}
    $maybe description <- Yesod.pageDescription pageContent
      <meta name="description" content=#{description}>

    $maybe route <- mCanonicalRoute
      <link rel="canonical" href=@{route}>

    $maybe analyticsID <- siteTracking site
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=#{analyticsID}">
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '#{analyticsID}');

    <script src=@{AssetsStaticR instantpage_js} type="module" defer>


    <link rel="alternate" type="application/rss+xml"
      title="RSS Feed for CS SYD"
      href=@{RssR}>
    <link rel="alternate" type="application/atom+xml"
      title="Atom Feed for CS SYD"
      href=@{AtomR}>

  <body>
    ^{pageBody pageContent}
