$case mdExtra md
  $of PostEntry post
    <p .title .is-4>
      <a href=@{PostsR url}>
        #{mdTitle md}

    <div .mb-3>
      <a href=@{PostsR url}>
        #{preEscapedToMarkup $ postExerpt post}

    <div .level>
      <div .level-left>
        <div .level-item>
          ^{ertTag $ mdEstimatedReadingTime md}
        <div .level-item>
          ^{dateTag $ postDate post}
      <div .level-right>
        $forall tag <- entryTags md
          <div .level-item>
            <a .tag
              href=@{TagR tag}>
                #{tag}

  $of QuoteEntry quote
    <p .title .is-4>
      <a href=@{QuoteR url}>
        #{quoteQuote quote} - #{quoteAuthor quote}

    <div .content>
      <a href=@{QuoteR url}>
        #{preEscapedToMarkup $ quoteExerpt quote}

    <div .level>
      <div .level-left>
        <div .level-item>
          ^{ertTag $ mdEstimatedReadingTime md}
        <div .level-item>
          ^{dateTag $ quoteDate quote}
      <div .level-right>
        $forall tag <- entryTags md
          <div .level-item>
            <a .tag
              href=@{TagR tag}>
                #{tag}
