<div .container>
  <section .section>



    <div .columns>
      <div .column>
        <div .zoom-without-container>
          <a href=@{ConsultingR}>
            <div .box style="height: 100%">
              <img src=@{AssetsStaticR home_technical_services_svg} alt="Technical services" style="height: 200px">
              <h4 .title .is-size-4 .has-text-centered>
                <br>
                Technical consulting
              <p .has-text-centered>
                Lead your team to success

      <div .column>
        <div .zoom-without-container>
          <a href=@{SelfManagementR}>
            <div .box style="height: 100%">
              <img src=@{AssetsStaticR home_self_management_svg} alt="Self-management coaching" style="height: 200px">
              <h4 .title .is-size-4 .has-text-centered>
                <br>
                Self-management coaching
              <p .has-text-centered>
                Imagine what you can achieve without stress

      <div .column>
        <div .zoom-without-container>
          <a href=@{SpeakingR}>
            <div .box style="height: 100%">
              <img src=@{AssetsStaticR home_speaking_svg} alt="Speaking" style="height: 200px">
              <h4 .title .is-size-4 .has-text-centered>
                <br>
                Speaking
              <p .has-text-centered>
                Technical topics in understandable language








                
  <section .section>
    <h4 .title .is-size-4 .has-text-centered>
      Products
    <div .columns .is-centered>
      <div .column .p-6>
        <div .columns .is-vcentered>

          <div .column .item .has-text-centered>
            <div .box style="height: 100%;">
              <a href="https://smos.online/">
                <div .zoom-without-container>
                  <img src=@{AssetsStaticR home_logo_smos_svg} alt="Logo Smos" style="height: 75px">
                  <h5 .title .is-size-5>
                    Smos
              <p .has-text-justified>
                <br>
                The tool that manages your stress and workload: getting your work done, all of it, in time, and without stress!

          <div .column .item .has-text-centered>
            <div .box style="height: 100%;">
              <a href="https://intray.eu/">
                <div .zoom-without-container>
                  <img src=@{AssetsStaticR home_logo_intray_svg} alt="Logo Intray" style="height: 75px">
                  <h5 .title .is-size-5>
                    Intray
              <p .has-text-justified>
                <br>
                The tool to get things out of your head to be dealt with appropriately for instant stress relief and to prevent future stress.

          <div .column .item .has-text-centered>
            <div .box style="height: 100%;">
              <a href="https://tickler.cs-syd.eu/">
                <div .zoom-without-container>
                  <img src=@{AssetsStaticR home_logo_tickler_svg} alt="Logo Tickler" style="height: 75px">
                  <h5 .title .is-size-5>
                    Tickler
              <p .has-text-justified>
                <br>
                The most reliable tool to remind your future self of things from the past so your present self doesn't have to.



        <div .columns .is-vcentered .is-centered>

          <div .column .item .is-one-third .has-text-centered>
            <div .box style="height: 100%;">
              <a href="https://nix-ci.com">
                <div .zoom-without-container>
                  <img src=@{AssetsStaticR home_logo_nix_ci_svg} alt="Logo NixOS" style="height: 75px;">
                  <h5 .title .is-size-5>
                    Nix CI
              <p .has-text-justified>
                <br>
                Hosted Continuous Integration for Nix;
                Zero Configuration, locally reproducible, integrated with GitHub

          <div .column .item .is-one-third .has-text-centered>
            <div .box style="height: 100%;">
              <a href="https://social-dance.today">
                <div .zoom-without-container>
                  <img src=@{AssetsStaticR home_logo_salsa_svg} alt="Logo Social Dance" style="height: 75px;">
                  <h5 .title .is-size-5>
                    Social Dance
              <p .has-text-justified>
                <br>
                Find a place to dance tonight. Type in your location, press 'search', and scroll through the social dance parties in your area.

          <div .column .item .is-one-third .has-text-centered>
            <div .box style="height: 100%;">
              <a href="https://templates.cs-syd.eu/">
                <div .zoom-without-container>
                  <img src=@{AssetsStaticR home_logo_haskell_svg} alt="Logo Haskell" style="height: 75px;">
                  <h5 .title .is-size-5>
                    Haskell Templates
              <p .has-text-justified>
                <br>
                Haskell project templates that save hours so you can start working on your brilliant business logic immediately.


    <section .section>
      <h4 .title .is-size-4 .has-text-centered>
        <a href=@{BlogR}>
          Latest Blogpost
      $maybe (url, entry) <- headMay es
        <div .box>
          ^{entryBox url entry}


<div .is-invisible>
  <a href=@{SitemapR}>
    Sitemap
