<div .container>
  <div .box>



    <section .hero>
      <div .column .has-text-centered>
        <img src=@{AssetsStaticR internet_security_internet_security_svg} alt="internet security" width="600px">

      <p .title .is-size-3 .has-text-weight-semibold .has-text-centered>
        Internet Security

      <div .columns .is-centered>
        <div .column .is-two-thirds>
          <p .content .is-size-5 .has-text-centered>
            Staying safe online is difficult and complex, but important.
            Syd walks you through the most important and actional aspects in understandable human language.

      <div .columns .is-centered .has-text-centered-mobile>
        <a .button .is-size-4 .is-primary href=@{ContactR}>
          Book Syd



    <section .section>

    <section .section>
      <div .container>
        <div id="carousel-speaking-working-remotely-testimonials" .carousel .no-select>
          
          <div .item-1 .columns .is-centered>
            <div .column .is-half>
              <p .content .is-size-5 .has-text-centered>
                "Tom has given several insightful talks to our department at ETH, with every event more popular than the last.
                Tom has a gift for being straight to the point with the topics, which several of our members have appreciated."

              <p .has-text-weight-semibold .has-text-centered>
                Jake Casselman,

              <p .has-text-weight-semibold .is-italic .has-text-centered>
                Doctorate at D-​USYS

          <div .item-2 .columns .is-centered>
            <div .column .is-half>
              <p .content .is-size-5 .has-text-centered>
                "Tom has given several insightful talks to our department at ETH, with every event more popular than the last.
                Tom has a gift for being straight to the point with the topics, which several of our members have appreciated."

              <p .has-text-weight-semibold .has-text-centered>
                Jake Casselman,

              <p .has-text-weight-semibold .is-italic .has-text-centered>
                Doctorate at D-​USYS



    <section .section>    
      <div .columns .is-variable .is-half>

        <div .column>
          <p .title .is-size-4 .has-text-centered>
            Why you should care

          <p .content .is-normal .has-text-justified>
            Your arguments might be 'I am not important enough', 'I have nothing to hide', 'they know everything about me anyway', or 'my privacy gets in the way of catching terrorists'.
            In his talk, Syd emphasises that these thoughts are dangerous, not only for yourself but also for your peers, your family, and even your future children.

        <div .column>
          <p .title .is-size-4 .has-text-centered>
            Relevant

          <p .content .is-normal .has-text-justified>
            With technology advancing exponentially – whether you like it or not – your security online become increasingly important.
            This talk walks you through the most relevant and actional aspects, such as password security, social media, safe browsing, and video conferencing.
            Syd will also answer all your questions and queries.



      <div .columns .is-variable .is-half .is-vcentered>
        <div .column .has-text-centered>
          <img src=@{AssetsStaticR internet_security_privacy_protection_svg} alt="privacy protection" width="350px">

        <div .column .has-text-centered>
          <img src=@{AssetsStaticR internet_security_connection_svg} alt="online connection" width="350px">



    <section .section>
      <div .columns .is-centered>
        <p .title .is-3 .has-text-centered .p-3>
          Get Syd to speak at your event 

      <div .columns .is-centered .has-text-centered-mobile>
        <a .button .is-size-4 .is-primary href=@{ContactR}>
          Check availability