<section .section>
  <div .container>
    <div .box>
      <h1 .title>
        #{mdTitle page}

      <div .content>
        #{preEscapedToMarkup $ mdRendered page}

    <div .box>
      <div .columns .is-centered>
        <div .column .has-text-centered .is-half>
          ^{servicesButton}

