<section .section>
  <div .container>
    <div .columns .is-centered>
      <div .column .is-12-tablet .is-11-desktop .is-10-widescreen>
        <div .box>
          <h1 .title .is-1>
            #{mdTitle md}


          <div .field .is-grouped .is-grouped-multiline>
            <div .control>
              ^{ertTag $ mdEstimatedReadingTime md}
            <div .control>
              ^{dateTag $ postDate $ mdExtra md}
            $forall tag <- postTags $ mdExtra md
              <div .control>
                <a .tag
                  href=@{TagR tag}>
                    #{tag}


          <div .content>
            #{preEscapedToMarkup $ mdRendered md}

        <div .box>
          <div .columns .is-centered>
            <div .column .has-text-centered>
              $maybe (prevUrl, prevE) <- mPrevE
                <a .button .is-link
                  href=@{PostsR prevUrl}>
                    Previous
                <br>
                #{mdTitle prevE}

            <div .column .has-text-centered .is-half>
              ^{actionOptionButton $ chooseTagsAction $ postTags $ mdExtra md}

            <div .column .has-text-centered>
              $maybe (nextUrl, nextE) <- mNextE
                <a .button .is-link
                  href=@{PostsR nextUrl}>
                    Next
                <br>
                #{mdTitle nextE}
