<div .container>
  <div .box>



    <section .hero>
      <div .column .has-text-centered>
        <img src=@{AssetsStaticR self_management_workshop_self_management_svg} alt="self-management" width="400px">

      <p .title .is-size-3 .has-text-weight-semibold .has-text-centered>
        A workshop on organising your stress-free life

      <div .columns .is-centered>
        <div .column .is-two-thirds>
          <p .content .is-size-5 .has-text-centered>
            Syd talks about the theory behind reducing stress in your work environment as well as everyday life.
            He teaches actional steps to improve your self-management immediately.

      <div .columns .is-centered .has-text-centered-mobile>
        <a .button .is-size-4 .is-primary href=@{ContactR}>
          Book Syd



    <section .section>

    <section .section>
      <div .container>
        <div id="carousel-speaking-self-management-workshop-testimonials" .carousel .no-select>
          <div .item-1 .columns .is-centered>
            <div .column .is-half>
              <p .content .is-size-5 .has-text-centered>
                "Tom has given several insightful talks to our department at ETH, with every event more popular than the last.
                Tom has a gift for being straight to the point with the topics, which several of our members have appreciated."

              <p .has-text-weight-semibold .has-text-centered>
                Jake Casselman,

              <p .has-text-weight-semibold .is-italic .has-text-centered>
                Doctorate at D-​USYS

          <div .item-2 .columns .is-centered>
            <div .column .is-half>
              <p .content .is-size-5 .has-text-centered>
                "Tom has given several insightful talks to our department at ETH, with every event more popular than the last.
                Tom has a gift for being straight to the point with the topics, which several of our members have appreciated."

              <p .has-text-weight-semibold .has-text-centered>
                Jake Casselman,

              <p .has-text-weight-semibold .is-italic .has-text-centered>
                Doctorate at D-​USYS



    <section .section>    
      <div .columns .is-variable .is-half>

        <div .column>
          <p .title .is-size-4 .has-text-centered>
            Decreased stress

          <p .content .is-normal .has-text-justified>
            There are a lot of things in life stress you out.
            There are even more things in life that you are not even aware of that are stressing you out.
            Syd talks about a life system that can reorganize your life, one that you can 100% rely on for the rest of your life.

        <div .column>
          <p .title .is-size-4 .has-text-centered>
            Increased productivity

          <p .content .is-normal .has-text-justified>
            It sounds unlikely, because you can’t yet imagine a life without the stresses that you are not even aware of.
            However, try to imagine a life system that you can rely on: to get things done, to get all of your things done, in time, and better than before, without procrastination.



      <div .columns .is-variable .is-half .is-vcentered>
        <div .column .has-text-centered>
          <img src=@{AssetsStaticR self_management_workshop_organisation_svg} alt="organisation" width="350px">

        <div .column .has-text-centered>
          <img src=@{AssetsStaticR self_management_workshop_increase_revenue_svg} alt="increased productivity" width="350px">


    <section .section>
      <div .columns .is-centered>
        <p .title .is-3 .has-text-centered .p-3>
          Check out the complete self-management coaching

      <div .columns .is-centered .has-text-centered-mobile>
        <a .button .m-2 .is-size-4 .is-primary href=@{ContactR}>
          Book Syd for your event

        <a .button .m-2.is-size-4 .is-primary .is-outlined href=@{SelfManagementR}>
          Self-mangement coaching
