<section .section>
  <div .container>
    <div .box>
      <h1 .title>
        Posts tagged "#{tag}"
      <aside .menu>
        <ul .menu-list>
          $forall (url, md) <- taggedEntries
            <li>
              <a href=@{PostsR url}>
                ^{preTime $ entryDate md} - #{mdTitle md}
