<div .container>
  <div .box>



    <section .hero>
      <div .column .has-text-centered>
        <img src=@{AssetsStaticR working_remotely_working_remotely_svg} alt="working remotely" width="600px">

      <p .title .is-size-3 .has-text-weight-semibold .has-text-centered>
        How to work remotely and stay sane

      <div .columns .is-centered>
        <div .column .is-two-thirds>
          <p .content .is-size-5 .has-text-centered>
            Syd talks about the change from working in a work environment to working at home, and all the things that should change with it.

      <div .columns .is-centered .has-text-centered-mobile>
        <a .button .is-size-4 .is-primary href=@{ContactR}>
          Book Syd



    <section .section>

    <section .section>
      <div .container>
        <div id="carousel-speaking-working-remotely-testimonials" .carousel .no-select>
          
          <div .item-1 .columns .is-centered>
            <div .column .is-half>
              <p .content .is-size-5 .has-text-centered>
                "Tom has given several insightful talks to our department at ETH, with every event more popular than the last.
                Tom has a gift for being straight to the point with the topics, which several of our members have appreciated."

              <p .has-text-weight-semibold .has-text-centered>
                Jake Casselman,

              <p .has-text-weight-semibold .is-italic .has-text-centered>
                Doctorate at D-​USYS

          <div .item-2 .columns .is-centered>
            <div .column .is-half>
              <p .content .is-size-5 .has-text-centered>
                "Tom has given several insightful talks to our department at ETH, with every event more popular than the last.
                Tom has a gift for being straight to the point with the topics, which several of our members have appreciated."

              <p .has-text-weight-semibold .has-text-centered>
                Jake Casselman,

              <p .has-text-weight-semibold .is-italic .has-text-centered>
                Doctorate at D-​USYS



    <section .section>    
      <div .columns .is-variable .is-half>

        <div .column>
          <p .title .is-size-4 .has-text-centered>
            The benefits

          <p .content .is-normal .has-text-justified>
            Working from home because of Covid-19 has given us some benefits.
            It is important to not only focus on the detriments, but taking full advantage of all the benefits.
            Therefore, Syd talks about the uniqueness of this time and sums up many everything that you should take advantage of.

        <div .column>
          <p .title .is-size-4 .has-text-centered>
            The pitfalls

          <p .content .is-normal .has-text-justified>
            Unfortunately there are many benefits of having to go to work that fell into pitfalls.
            Syd talks about many pitfalls to watch out for that most people would not notice and he suggests ways of dealing with them.



      <div .columns .is-variable .is-half .is-vcentered>
        <div .column .has-text-centered>
          <img src=@{AssetsStaticR working_remotely_easy_working_svg} alt="easy working remotely" width="350px">

        <div .column .has-text-centered>
          <img src=@{AssetsStaticR working_remotely_focussed_working_svg} alt="focussed working remotely" width="350px">



    <section .section>
      <div .columns .is-centered>
        <p .title .is-3 .has-text-centered .p-3>
          Get Syd to speak at your event 

      <div .columns .is-centered .has-text-centered-mobile>
        <a .button .is-size-4 .is-primary href=@{ContactR}>
          Check availability